<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Structures</title>
</head>
<body>
    <h2>
        Data Structures in Jinja2
    </h2>
    <h3>
        List Operations
    </h3>
    <p>
        Jina said her top three favourite movies were {{movies[0]}}, 
        {{movies[1]}} and {{movies[2]}}
    </p>

    <h3>
        Dictionary Operations
    </h3>
    <p>
        The value of key 1 is {{dic[1]}}
        The value of key 2 is {{dic[2]}}
    </p>

    <h3>
        Object Attributes
    </h3>
    <p>
        First moon is {{moons.first}}
        Second moon is {{moons.second}}
        Third moon is {{moons.third}}
        Fourth moon is {{moons.fourth}}
    </p>
</body>
</html>